.*
*.zip
*.tar
*.out
*.log
bin/
dist/
tmp/

## Git
!.gitignore
!.gitkeep

## GitHub
!.github/

## Mise
!.mise.toml

## VSCode
!.vscode/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.default.json

## Lefthook
!.lefthook.yaml

## Editorconfig
!.editorconfig

## Docker
!.dockerignore

## Node ##
**/node_modules/

## TypeScript
*.tsbuildinfo

### Golang
/go.work
/go.work.sum
!.golangci.yaml
!.goreleaser.yaml
